<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Dados dos Pedidos</title>
</head>
<body>
  <header>
    <h1>Dados dos Pedidos</h1>
  </header>
  <main>
    <section class="orders">
      <h2>Listagem de Pedidos</h2>
      <table>
        <thead>
          <tr>
            <th>Pedido ID</th>
            <th>Cliente</th>
            <th>Produto</th>
            <th>Valor</th>
            <th>Valor Frete</th>
            <th>Prazo de Entrega</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.orderId }}</td>
            <td>{{ order.clientName }}</td>
            <td>{{ order.productName }}</td>
            <td>R$ {{ order.productValue }}</td>
            <td>R$ {{ order.totalCostFrete }}</td>
            <td>{{ order.totalDaysFrete }} dias</td>
            <td>{{ order.createdAt | date }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</body>
</html>
